.green {
  background-color: #1abc9c;
}

.blue {
  background-color: #3498db;
}

.dark-blue {
  background-color: #34495e;
}

.yellow {
  background-color: #f1c40f;
}

.orange {
  background-color: #f39c12;
}

.red {
  background-color: #e74c3c;
}

.light-gray {
  background-color: #ecf0f1;
}

.gray {
  background-color: #95a5a6;
}

.white {
  background-color: #FFFFFF;
}
